//секция hero
.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: $background-hero;
  background-image: $backgroundhero-mob-x1;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: $backgroundhero-mob-x2;
  }
  @media screen and (min-width: 480px) {
    background-image: $backgroundhero-tab-x1;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 480px),
    (min-resolution: 192dpi) and (min-width: 480px),
    (min-resolution: 2dppx) and (min-width: 480px) {
    background-image: $backgroundhero-tab-x2;
  }
  @media screen and (min-width: 768px) {
    background-image: $backgroundhero-pc-x1;
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 768px),
    (min-resolution: 192dpi) and (min-width: 768px),
    (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: $backgroundhero-pc-x2;
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__container {
  @include flex(flex, center);
  flex-direction: column;
}
//заголовок
.hero__title {
  color: $white;
  @include font(900, 26px, 1.615);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.364);
  }
}

//кнопка "заказать услугу"
.hero__button {
  @extend %button;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
    box-shadow: $shadow-button;
  }
}
