.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 1 - 30px);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.projects__container {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    cursor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__container,
.projects__link:focus .projects__container {
  box-shadow: $shadow-project;
  cursor: pointer;
}

.projects__presentation {
  border: 1px solid $border-card;
  background-color: $white;
  padding: 20px 24px;
}

.projects__name {
  @include font(700, 18px, 2);
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
  color: $title-text-color;
}

.projects__option {
  @include font(400, 16px, 1.875);
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-text-color;
}

.projects__card {
  position: relative;
  overflow: hidden;
}

.projects__description {
  @include position(absolute, 0, 0);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: $color-card-overlay;

  opacity: 0;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__description,
.projects__link:focus .projects__description {
  overflow: auto;
  opacity: 1;
  transform: translateY(0);
}

.projects__text {
  @include font(400, 18px, 1.556);
  color: $white;
}
